server:
  port: 8083
spring:
  config:
    import: "optional:configserver:http://localhost:8888"
  application:
    name: catalog_service

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

management.metrics.tags:
  application: ${spring.application.name}
