server:
  port: 8080

spring:
  config:
    import: "optional:configserver:http://localhost:8888"
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: users
          uri: http://localhost:8081
          predicates:
            - Path=/users/**
        - id: orders
          uri: http://localhost:8082
          predicates:
            - Path=/orders/**
        - id: catalog
          uri: http://localhost:8083
          predicates:
            - Path=/catalog/**

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

management.metrics.tags:
  application: ${spring.application.name}


