apiVersion: apps/v1
kind: Deployment
metadata:
  name: orders-service
  namespace: microservices-demo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: orders-service
  template:
    metadata:
      labels:
        app: orders-service
    spec:
      containers:
        - name: orders-service
          image: microdemo/orders-service:1.0.0
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_CONFIG_IMPORT
              value: "optional:configserver:http://config-server.microservices-demo.svc.cluster.local:8888"
            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              value: "http://zipkin.monitoring.svc.cluster.local:9411/api/v2/spans"
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 10
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8082
            initialDelaySeconds: 30
            periodSeconds: 30
---
apiVersion: v1
kind: Service
metadata:
  name: orders-service
  namespace: microservices-demo
spec:
  selector:
    app: orders-service
  ports:
    - port: 8082
      targetPort: 8082
