server:
  port: 8888

spring:
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ankitadeep2311/config-repo.git
          default-label: main

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans

management.metrics.tags:
  application: ${spring.application.name}
